// colors
$darkgrey: #252a36;
$lightgreen: #20d5d6;

$beemedblue1: #005d72;
$beemedblue2: #5995a3;
$beemedblue3: #8cb6bf;
$beemedblue4: #b0cad1;

$beemedocre1: #cba348;
$beemedocre2: #ddc388;
$beemedocre3: #eee2c7;
$beemedocre4: #e9ddc2;

.walkthrough-notification {
  background: $beemedblue1;
  background-image: url('../../../../public/images/walkthrough.png');
  color: white;
  padding: 24px;
  .ant-notification-notice-message {
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
  .ant-notification-close-icon {
    color: white;
  }
  .ant-notification-notice-description {
    font-size: 16px;
    a {
      color: $beemedocre1;
      text-decoration: underline;
    }
  }
}
.modal-walkthrough {
  width: 800px !important;

  .logo-tour {
    width: 150px !important;
    margin-bottom: 30px;
  }

  .ant-modal-content {
    background: $beemedblue1;
    background-image: url('../../../../public/images/walkthrough.png');
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;

    .steps-content {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        color: white;
        margin-bottom: 0px;
      }
      h3 {
        color: $beemedocre1;
      }
      p {
        font-size: 18px;
      }
      .btn-1 {
        font-weight: bold;
        background-color: transparent;
        color: $beemedocre1;
        border-color: $beemedocre1;
      }
      .btn-2 {
        border-color: transparent;
        font-weight: bold;
        background-color: $beemedocre1;
        color: white;
      }
      img {
        width: 70px;
        height: 70px;
      }
    }

    .steps-action {
      text-align: center;
      margin-bottom: 50px;
      .btn-next,
      .btn-done {
        min-width: 150px;
        color: white;
        background: $beemedblue2;
        border-color: transparent;
      }
      .btn-previous {
        min-width: 100px;
        color: white;
        background: transparent;
        border-color: $beemedblue2;
      }
    }

    .finish-later {
      margin-top: 35px;
      a {
        font-size: 16px;
        color: white !important;
      }
      :hover {
        color: $beemedblue3;
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 600px) {
    width: 100% !important;
    .ant-modal-content {
      padding: 10px;
    }
  }
}
