// Style for EmptyFeed component

/* Global Variables */
@import "scss/global/variables";

.empty-feed-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: 800px) {
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 100px;
  }
  .anticon {
    margin-right: 12px;
    color: $beemedocre1;
    font-size: 24px;
  }
}
