{
  "compact": true,
  "minified": true,
  "comments": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 2 versions",
            "> 1%",
            "IE 11"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "version": "7.0.0-beta.0"
      }
    ]
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "transform-react-remove-prop-types"
      ]
    }
  }
}