// colors
$darkgrey : #252A36;
$lightgreen : #20D5D6;
$beemedblue1 : #005D72;
$beemedocre1 : #CBA348;

.article-lists {
  width: 100%;
  @media screen and (max-width: 800px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ant-list-pagination {
    padding-right: 20px;
    @media screen and (max-width: 800px) {
      padding-right: 0;
    }
  }
}

.article-list-item {
  width: 100% !important;
  border-radius: 0;
  overflow: hidden;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background: #fff;
  margin-bottom: 10px;
  min-height: 120px;
  padding: 10px 30px !important;
  @media screen and (max-width: 800px) {
    flex-wrap: nowrap !important;
    padding: 20px !important;
  }
  .ant-list-item-meta-title {
    white-space: pre-line;
    margin-bottom: 8px !important;
    line-height: 1.2;
    color: #000;
    font-weight: 700 !important;
    font-size: 16px !important;
    * {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
      font-weight: inherit;
    }
    a {
      &:hover,
      &:focus {
        color: $beemedblue1;
      }
    }
  }
  .ant-list-item-meta {
    margin-bottom: 0;
    align-items: stretch;
  }
  .article-time-creation {
    white-space: nowrap;
    @media screen and (max-width: 480px) {
      margin-bottom: 10px;
      margin-top: -5px;
    }
  }
  .ant-list-item-meta-avatar {
    @media screen and (max-width: 680px) {
      display: none;
    }
    margin-right: 26px;
    display: flex;
    align-items: center;
    a {
      display: block;
    }
    .anticon {
      background: #B2CED4;
      min-width: 48px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #fff
      }
    }
  }
  .ant-list-item-meta-content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .ant-list-item-main {
    width: 100%;
  }
  .ant-list-item-extra {
    width: 100%;
  }
  .ant-card-actions {
    width: calc(100% - 30px);
    margin: 0 auto;
    border-color: rgba(151, 151, 151, .15);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &::before,
    &::after {
      display: none;
    }
    > li {
      border: none !important;
      padding: 5px 0;
      float: none;
    }
    li {
      &:first-of-type {
        width: auto !important;
      }
      &:last-of-type {
        width: auto !important;
      }
    }
  }
  &__header {
    .header-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
      @media screen and (max-width: 480px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-start;
      }
      * {
        font-weight: 400;
      }
      .reference {
        color: $beemedocre1;
        padding-right: 15px;
        @media screen and (max-width: 480px) {
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__more {
    &:hover,
    &:focus {
      color: $beemedocre1;
    }
  }
  &__tags {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    z-index: 5;
  }
  .tag {
    border-radius: 7px;
    min-height: 21px;
    padding: 4px 15px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
    &:not(:last-of-type) {
      margin-right: 5px;
    }
    &--anatomy {
      background: $beemedblue1;
      border-color: $beemedblue1;
      color: #ffffff;
    }
    &--speciality {
      background: #B2CED4;
      border-color: #B2CED4;
      color: $beemedblue1;
    }
  }
  &__likes,
  &__comments {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: nowrap;
    * {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      line-height: .9;
      display: block;
    }
    .anticon {
      font-size: 15px;
      color: #101010;
      margin-top: -2px;
      margin-right: 8px;
      transition: color .3s;
      width: 16px;
      height: 16px;
      svg {
        width: 100%;
        height: auto;
        fill: #000000;
      }
    }
    &--number {
      display: flex;
      align-items: center;
      color: #000000;
      .text {
        margin-left: 4px;
        color: inherit;
      }
    }
  }
  &__likes {
    justify-content: flex-start;
    transition: color .3s;
    &.active {
      color: $beemedocre1;
      .anticon {
        color: $beemedocre1;
        svg {
          fill: $beemedocre1;
        }
      }
      .case-card__likes--number {
        color: inherit;
      }
    }
  }
  &__comments {
    justify-content: flex-end;
    > a {
      display: inherit !important;
      align-items: inherit;
      justify-content: inherit;
    }

  }
}
