// Style for CommunityDetail page

/* Global Variables */
@import "theme/scss/global/variables";

.main-single-layout {
  padding: 58px 0 0 0;
  background: transparent;
  max-width: 100%;
  &.with-sidebar {
    &.community {
      .ant-layout-sider {
        padding-left: 16px;
      }
    }
  }
  &.community {
    padding-top: 30px;
    overflow: scroll;
  }
  &.community::-webkit-scrollbar {
    display: none;
  }
}

.main-single-content {
  &.community {
    .main-single-content {
      &__header {
        background-color: $white;
        padding: 15px 16px 21px 14px;
        margin-bottom: 19px;
        border-radius: 5px;

        @media screen and (max-width: 800px) {
            padding: 20px 15px;
            background-color: transparent;
        }
      }
      &__main {
        background: transparent;
      }
    }
  }
}

.empty-welcome-info {
  display: block;
  max-width: max-content;
  margin: 50px auto;
}

