/* Buttons */
.ant-btn {
  &.ant-btn-docre {
    background: $beemedocre1;
    border-color: $beemedocre1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: none;
    min-height: 34px;
    height: 34px;
    padding: 7px 26px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
  }
  &.bm-btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    box-shadow: none;
    min-height: 29px;
    height: 29px;
    padding: 4px 22px !important;
    background: transparent;
    border-color: $beemedblue1;
    color: $beemedblue1;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 15px;
    min-width: 170px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover,
    &:focus {
      background: $beemedblue1;
      color: #fff;
    }
  }
}
