$beemedblue1 : #005D72;
$beemedocre1 : #CBA348;

.sidebar-authors-list {
  background: #fff;
  padding: 26px 30px 24px 30px;
  .sidebar-title {
    font-size: 18px;
    font-weight: 700 !important;
    line-height: 1.20;
    color: #000;
    margin-bottom: 24px;
  }
  .emptyImage {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5995A3;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-list {
    .ant-list-item {
      border: none;
      padding: 0;
      &:not(:last-of-type) {
        margin-bottom: 12px;
      }
    }
    .ant-list-item-meta {
      align-items: center;
    }
    .ant-list-item-meta-avatar {

    }
    .ant-list-item-meta-content {}
    .ant-list-item-meta-title {
      margin-bottom: 0;
      font-size: 18px;
      color: #000;
      font-weight: 400 !important;
      line-height: 1.2;
      + .ant-list-item-meta-description {
        margin-top: 10px;
      }
    }
  }
}
