/* Single Page */
.main-overview-layout {
  padding: 58px 0 0 0;
  background: transparent;
  max-width: 100%;
  &.with-sidebar {
    justify-content: center;
    .main-overview-content {
      margin: 0;
      @media screen and (max-width: 800px) {
        //margin-top: 45px;
      }
    }
    .ant-layout-sider {
      padding-left: 45px;
    }
  }
}
.main-overview-content {
  min-height: 280px;
  max-width: 651px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
  &.article {
    @media screen and (max-width: 800px) {
      margin-top: 45px !important;
      position: relative;
      z-index: 100;
    }
  }
  &__header {
    padding-bottom: 31px;
    + .main-overview-content__main {
      margin-top: 10px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
      font-weight: 700;
      line-height: 1.2;
      color: #000;
      white-space: pre-line;
    }
    h1 {
      font-size: 30px !important;
    }
    h2 {
      font-size: 30px !important;
      line-height: 1.2;
    }
    h3 {
      font-size: 26px !important;
    }
    .ant-btn-docre {
      margin-left: auto;
    }
    .sub-title {
      font-size: 18px !important;
      font-weight: 700;
      line-height: 1.2;
      white-space: pre-line;
      span, a {
        color: $beemedocre1 !important;
        text-decoration: none;
      }
    }
    &.white {
      * {
        color: #fff;
      }
      .bookmark-action,
      .share-action {
        .anticon {
          svg {
            fill: transparent !important;
            stroke: #fff !important;
          }
        }
      }
      .anticon:not(.bookmarked) {
        svg {
          fill: #fff;
        }
      }
    }
  }

  // Main Content
  &__main {
    background: transparent;
    margin-bottom: 0;
    + .main-overview-content__main {
      margin-top: 50px;
    }
  }
  // Main Article
  &__article {
    background: transparent;
  }



}