.sidebar-accordion {
  border: none;
  background: #fff;
  + .sidebar-accordion {
    margin-top: 20px;
  }
  .ant-collapse-item {
    border: none !important;
  }
  .ant-collapse-header {
    padding: 10px 40px 10px 13px !important;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px !important;

  }
  .ant-collapse-content {
    border: none;
  }
  .ant-collapse-content-box {
    padding: 16px 16px 16px 13px;
  }
  .ant-collapse-arrow {
    font-size: 16px !important;
    color: #101010 !important;
    top: 23px !important;
  }
  .ant-collapse-extra {
    line-height: 1;
    .anticon {
      color: #101010;
      font-size: 16px;
    }
  }
}

.sidebar-external {
  background: transparent;
  .ant-collapse-content {
    background: transparent;
  }
}
