// colors
$darkgrey: #252a36;
$lightgreen: #20d5d6;

$beemedblue1: #005d72;

$beemedocre1: #cba348;

/* Main Side Content */
.main-side-content {
  // header
  &__header {
  }
  // Filter
  &__filter {
    &.article-filter {
      .article-filter-form {
        @media screen and (max-width: 1100px) {
          flex-wrap: wrap;
          align-items: flex-start;
          .ant-form-item.sortBy {
            margin-left: 0;
          }
        }
        @media screen and (max-width: 800px) {
          // flex-wrap: nowrap;
          align-items: flex-start;
          .ant-form-item.sortBy {
            // margin-left: auto;
          }
        }
      }
      .ant-form {
      }

      .ant-form-item {
        &.sortBy {
          max-width: 220px;

          @media screen and (max-width: 800px) {
            max-width: unset;
          }
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            // icon
            .sortBy-icon {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 1;
              border-right: none;
              border-bottom-left-radius: 2px;
              border-top-left-radius: 2px !important;
              padding: 0 0 0 9px;
              height: 28px;
              border-radius: 14px 0 0 14px !important;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              pointer-events: none;
              svg {
                width: 13px;
                height: 12px;
                fill: #101010;
              }
            }
          }
        }
      }
    } //  &.article-filter
  }
}
