.ant-notification.ant-notification-topRight {
  .ant-notification-notice {
    height: auto !important;
    color: #000;
    font-size: 14px;

    .ant-notification-notice-message {
      color: #000;
      font-size: 14px;
      margin-bottom: 0;
    }

    .ant-notification-notice-with-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}