/* Global Tags style */
.tag,
.ant-tag {
  &.tag {
    border-radius: 7px;
    min-height: 21px;
    padding: 4px 15px;
    font-size: 10px;
    font-weight: 500 !important;
    line-height: 1;

    &:not(:last-of-type) {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &--anatomy {
      background: $beemedblue1;
      border-color: $beemedblue1;
      color: #ffffff;
    }

    &--speciality {
      background: #b2ced4;
      border-color: #b2ced4;
      color: $beemedblue1;
    }
    &--tag {
      padding: 5px 15px 4px;
      background: transparent;
      border-color: $beemedblue1;
      color: $beemedblue1;
      font-weight: 500 !important;
    }
    &--type {
      background: rgba(236, 189, 85, 0.6);
      border-color: rgba(236, 189, 85, 0.6);
      color: black;
      .anticon svg {
        width: 12px;
        height: 12px;
        margin-right: 8px;
      }
    }
  }
}

.type-tag {
  cursor: pointer;
  &:hover,
  &:focus {
    filter: brightness(1.07);
  }
}

.ant-tag.tag.community-tag {
  background: rgb(205 84 84);
  border-color: rgb(205 84 84);
  color: #fff;
  .anticon {
    color: #fff;
    svg {
      fill: #fff;
    }
  }
}
.ant-tag.tag.industry-tag {
  background: $purple;
  border-color: $purple;
  color: #fff;

  .anticon {
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}
