// Style for MobileHeaderLayout component

/* Global Variables */
@import 'theme/scss/global/variables';

.header-notifications {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}

.custom-mobile-layout {
  .ant-badge-count {
    background-color: #e01e1e !important;
    box-shadow: none;
    font-size: 13px !important;
  }
}

.industry-mobile--link {
  background-color: $purple !important;
  padding: 0 20px;
  // padding: 0 !important;

  display: flex;

  span {
    margin-left: 16px;
    display: block;
    white-space: pre-line;
    line-height: 1.4;
    color: $white;
  }
}

.navbar-mobile .message-counter {
  margin-right: 16px;
}

.navbar-mobile .am-icon-search {
  margin-right: 16px;
}

.navbar-mobile.industry-mobile .am-navbar-left {
  padding-left: 0;

  .industry-community {
    // padding: 0 5px;
    color: $white;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 10px;
  }
}

.navbar-mobile.industry-mobile .am-navbar-right {
  flex: none;
}
.navbar-mobile .language-container {
  margin-right: 15px;
}

.am-navbar-right {
  flex: unset;
  margin-left: auto;
}

.navbar-mobile .action-buttons {
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    padding: 10px 24px;
    height: auto;
    border-radius: 5px;
    line-height: 1;
    display: block;
    font-weight: bold;
  }

  .signup {
    background-color: $beemedocre1;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid transparent;
    }
  }

  .login {
    border: 1px solid $beemedblue1;
    color: $beemedblue1;
    background-color: $white;
  }
}

.navbar-mobile--rtl {
  .am-navbar-left-icon {
    margin-right: 0;
  }

  .am-navbar-left {
    padding-left: 0;
    padding-right: 15px;
  }

  .am-navbar-right {
    margin-right: 0;
    margin-left: 15px;
  }

  .message-counter {
    margin-right: 0;
    margin-left: 16px;
  }

  .language-container {
    margin-right: 0;
    margin-left: 15px;
  }

  .am-icon-search {
    margin-right: 0;
    margin-left: 16px;
  }

  .header-notifications {
    margin-right: 0;
    margin-left: 16px;
  }
}
