/* Global Variables */
@import 'scss/global/variables';

.unauthorized-sidebar {
  margin-bottom: 30px;
  width: 100%;

  .welcome-container {
    background-color: $white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;

    .action-buttons {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      a {
        padding: 12px 24px;
        text-align: center;
        height: auto;
        border-radius: 5px;
        line-height: 1;
        display: block;
        font-weight: bold;
      }

      .signup {
        background-color: $beemedocre1;
        color: $white;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid transparent;
        }
      }

      .login {
        border: 1px solid $beemedblue1;
        color: $beemedblue1;
        background-color: $white;
      }
    }
  }

  .info-container {
    &--list {
      background-color: $beemedblue1;
      list-style: none;
      padding: 30px 15px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 45px;

      &-item {
        display: flex;
        flex-direction: column;

        &__icon {
          background-color: #266878;
          border-radius: 7px;
          width: 37px;
          height: 37px;
          margin-bottom: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__title {
          color: $beemedocre1;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 7px;
        }

        &__desc {
          color: $white;
          font-size: 14px;
        }
      }
    }
  }
}
