// Style for CreateRules component

/* Global Variables */
@import "scss/global/variables";

.rules-modal {
    .ant-form-item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .ant-btn.add-new-rules-btn {
        padding: 10px 0 9px 0;
        height: auto;
        width: 100%;
        border: 1px solid $beemedocre1;
        background-color: #f7f1e4;
    }

    .add-new-rules-btn {
        color: $beemedocre1;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        &:hover {
            color: $beemedocre1;
            border: 1px solid $beemedocre1;
            background-color: transparent;
        }
    }

    .ant-modal-content {
        height: auto;
    }
    .ant-modal-header {
        background-color: $beemedblue1;
        padding: 17px 0 17px 33px;

        .ant-modal-title {
            line-height: 21px;
            font-weight: 500;
            font-size: 18px;
            color: $white;
        }
    }

    .ant-modal-body {
        padding: 33px 33px;
    }

    .rdw-editor-wrapper {
        box-sizing: border-box;
    }

    .ant-modal-footer {
        display: none;
    }

    .anticon.anticon-close.ant-modal-close-icon {
        padding: 0 33px 0 0;
        svg {
            fill: $white;
            width: 19px;
            height: 19px;
        }
    }

    .rule-description {
        .ant-input {
            min-height: 150px;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
                border-radius: 10px;
                background-color: transparent;
            }
            &::-webkit-scrollbar {
                width: 6px;
                background-color: rgba(0, 0, 0, 0.07);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
                background: $lightgrey;
            }
        }
    }

    .ant-form-item-control-input-content {
        height: auto;
        border: 1px solid #e0e0e0;
        border-radius: 5px;

        // display: flex;
        // justify-content: end;

        .ant-input {
            padding: 8px 0 8px 20px;
            &::placeholder {
                color: rgb(0 0 0 / 45%);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }

        .edit-input {
            border-color: rgba(187, 187, 187, 0.76);
            border-radius: 10px;
            width: 100%;
            // width: 464px;
            // max-width: 100%;
            // margin: auto;
        }

        .ant-btn {
            line-height: 18px;
            font-weight: 700;
            font-size: 15px;
            background-color: $beemedblue1;
            color: $white;
            border: 1px solid $beemedblue1;
            padding: 13px 0;
            height: auto;
            min-width: 179px;
            margin-top: 15px;
            &:hover {
                background-color: $white;
                border: 1px solid $beemedblue1;
                color: $beemedblue1;
            }
        }
    }

    .ant-form-item-control-input-content:last-child {
        border: none;
    }
}
