// Style for TypeFormAsap component

/* Global Variables */
// @import "scss/global/variables";

.tf-v1-widget {
  height: calc(100vh - 65px) !important;
  width: 100%  !important;
  overflow-x: hidden;
}

@media screen and (max-width: 990px) {
  .tf-v1-widget {
    height: calc(100vh - 200px) !important;
    overflow-x: hidden;
  }
}
