// Styles for AthorListView component

.author-list-view {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 32px;
  transition: all .3s;
  &:hover,
  &:focus,
  &::selection,
  &:active {
    background: rgba(172, 200, 220, .3);
  }
  &__avatar {
    margin-right: 16px;
  }
  &__content {
    flex: 1;
  }
  &__title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
  }
  &__description {
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
}