// colors
$darkgrey : #252A36;
$lightgreen : #20D5D6;

$beemedblue1 : #005D72;
$beemedblue2 : #5995A3;
$beemedblue3 : #8CB6BF;
$beemedblue4 : #B0CAD1;

$beemedocre1 : #CBA348;
$beemedocre2 : #DDC388;
$beemedocre3 : #EEE2C7;
$beemedocre4 : #E9DDC2;

@media screen and (max-width: 800px) {
  .custom-h1-cases {
    font-size: 30px !important;
    margin-bottom: 0px !important;
  }
}


