.ant-form-item-label > label {
  font-family: $global-font;
  font-weight: 500;
}
.ant-form label,
.ant-checkbox + span {
  font-family: $global-font;
}
.ant-checkbox + span {
  font-family: $global-font;
  // font-weight: bold;
}
.anticon {
  vertical-align: baseline !important;
}

.ant-back-top {
  right: 20px !important;
  bottom: calc(env(safe-area-inset-bottom) + 75px) !important;
}

.ant-message {
  top: 100px !important;
  z-index: 1054 !important;
}

.ant-notification {
  z-index: 1053 !important;
}

.ant-select-dropdown {
  width: 175px !important;
}
