@import 'theme/scss/global/variables';

.members-tab {
  &__requests {
    margin-top: 15px;
    margin-bottom: 36px;

    h5 {
      font-weight: 700;
    }
  }

  &__invitations {
    margin-bottom: 20px;
    @media screen and (max-width: 800px) {
      h5 {
        padding: 0 15px;
      }
    }
  }

  .industry-partner-switch {
    padding: 0 9px 12px 9px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;

    label {
      font-size: 14px;
      margin-left: 11px;
      color: #000;
    }
  }
}
