// CSS variales
:root {
  --main-bg-color: #005d72;
}

// SCSS colors
$white: #ffffff;
$black: #000000;
$grey: #b7b7b7;

$darkgrey: #252a36;
$lightgrey: #b4b4b4;
$lightgreen: #20d5d6;

$beemedblue1: #005d72;
$beemedblue2: #5995a3;
$beemedblue3: #8cb6bf;
$beemedblue4: #b0cad1;

$beemedocre1: #cba348;
$beemedocre2: #ddc388;
$beemedocre3: #eee2c7;
$beemedocre4: #e9ddc2;

$orange: #f59c05;
$blue: #005d9f;
$red: #ff3d0e;
$purple: #85009f;

$load-gradient: linear-gradient(
  60deg,
  $beemedocre1,
  $beemedocre2,
  #f37055,
  #5073b8,
  $beemedblue1,
  #07b39b
);
$load-gradient-error: linear-gradient(
  60deg,
  $beemedocre1,
  $beemedocre2,
  #f37055,
  #ef4e7b,
  #dc3545
);
$gradientBorderWidth: 1px;

// Metrix
$global-font: 'Roboto', sans-serif !important;
$global-header-height: 62px;

// other
$side-menu-width: 91px;
$side-menu-header: 77px;

// mobile
$global-mobile-header: 45px;
$global-bottom-bar: 60px;
$mobile-header-height: calc(#{$global-mobile-header} + #{$global-bottom-bar});

// mobile modal
$modal-padding: 30px;

// Absence Metrix
$fields-border-color: #999999;
$fields-height: 50px;

/*  Animation  */
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
